    <div class="expanded-panel" data-ng-controller="HeaderController">
        <div class="row">
            <div id="logo" class="col-xs-12 col-sm-2">

                <a href="/dashboard" class="navbar-brand"><i class="fa fa-weixin"></i> Force</a>
            </div>

            <div id="top-panel" class="col-xs-12 col-sm-10">

                    <div class="col-xs-10 col-sm-9" style="bottom:-10px">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#">Home</a></li>
                            <li role="presentation" class="active" ng-repeat="tab in tabs" ng-class="tab.isActive">
                                <a style="display: inline;padding-left: 0px; padding-right: 0px;" href="{{tab.action}}">{{tab.name}}</a>
                                <span>x</span>
                            </li>

                        </ul>
                    </div>
                    <div class="col-xs-2 col-sm-3 top-panel-right">

                        <ul class="nav navbar-nav pull-right panel-menu" data-ng-show="authentication.user">
                            <li  class="dropdown" dropdown>
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown" dropdown-toggle>
                                    <i class="fa fa-bell"></i>
                                    <span class="upcoming" ng-click="chatbox()">{{messageCount}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat=" fm in followerMessages">
                                        <a ng-href="/inbound/{{fm.fromUser._id}}">
                                            <img class="media-object img-circle" style="max-height:20px;" src="{{fm.fromUser.img}}"/>
                                            <span>{{fm.fromUser.nickName}}</span>
                                            <span class="upcoming">{{fm.count}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown" dropdown>
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown" dropdown-toggle>
                                    <div class="avatar">
                                        <img src="modules/core/img/avatar.jpg" class="img-circle" alt="avatar">
                                    </div>
                                    <i class="fa fa-angle-down pull-right"></i>

                                    <div class="user-mini pull-right">

                                        <span data-ng-bind="authentication.user.displayName"></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/settings/profile">
                                            <i class="fa fa-user"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li data-ng-show="authentication.user.provider === 'local'">
                                        <a href="/settings/password">
                                            <i class="fa fa-tachometer"></i>
                                            Change Password</a>
                                    </li>
                                    <li>
                                        <a href="/setting/options" >
                                            <i class="fa fa-picture-o"></i>
                                            <span>Albums</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/settings/tasks" >
                                            <i class="fa fa-tasks"></i>
                                            <span>Tasks</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/settings/configuration">
                                            <i class="fa fa-cog"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li ng-click="signout()">
                                        <a href="#">
                                            <i class="fa fa-power-off"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                        <ul class="nav navbar-nav navbar-right panel-menu" data-ng-hide="authentication.user">
                            <li ui-route="/signup" ng-class="{active: $uiRoute}">
                                <a href="/signup">Sign Up</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                                <a href="/signin">Sign In</a>
                            </li>
                        </ul>
                    </div>

            </div>
        </div>

    </div>
