    <div class="row" >
        <div class="col-xs-12">
            <div class="box">
                <div class="box-content">
                    <div class="col-xs-8 col-sm-4">

                        <div id="search">
                            <input type="text" placeholder="search">
                            <i class="fa fa-search"></i>
                        </div>

                    </div>
                    <div class="col-xs-4 col-sm-8 text-right">
                        <button type="button"
                                ng-class="(activeOperation=='removing')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleRemove()"><i
                                class="fa fa-trash"></i></button>
                        <button type="button"
                                ng-class="(activeOperation=='editing')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleEdit()"><i
                                class="fa fa-edit"></i></button>
                        <button type="button"
                                ng-class="(activeOperation=='adding')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleAdd()"><i class="fa fa-plus"></i></button>
                        <button type="button"
                                ng-class="(activeOperation=='loading')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="sync()"><i
                                ng-class="(activeOperation=='loading')?'fa fa-spinner fa-spin':'fa fa-cloud-download'"></i>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="newcampaign" class="box" ng-show="activeOperation=='adding'">
                <div class="box-header">
                    <div class="box-name ui-draggable-handle">
                        <i class="fa fa-table"></i>
                        <span>Create new campaign</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link" ng-click="toggleExpand()">
                            <i class="fa fa-compress"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input type="text" ng-model="campaign_name" class="form-control" placeholder="campaign name" data-toggle="tooltip" data-placement="top" title="">
                            </div>
                            <label class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-4">
                                <select  ng-model="campaign_type" multiple="multiple" class="populate placeholder">
                                    <option>Linux</option>
                                    <option>Windows</option>
                                    <option>OpenSolaris</option>
                                    <option>FirefoxOS</option>
                                    <option>MeeGo</option>
                                    <option>Android</option>
                                    <option>Sailfish OS</option>
                                    <option>Plan9</option>
                                    <option>DOS</option>
                                    <option>AIX</option>
                                    <option>HP/UP</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Start Date</label>
                            <div class="col-sm-4">
                                <input type="text" ng-model="campaign_startdate" class="form-control" placeholder="Date">
                                <span class="fa fa-calendar txt-danger form-control-feedback"></span>
                            </div>
                            <label class="col-sm-2 control-label">End Date</label>
                            <div class="col-sm-4">
                                <input type="text" ng-model="campaign_enddate" class="form-control" placeholder="Date">
                                <span class="fa fa-calendar txt-danger form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="campaign_description" rows="5" id="wysiwig_simple" data-original-title="" title=""></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Thumbnail</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="campaign_thumbnail" class="form-control" placeholder="campaign Thumbnail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ad</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="campaign_ad" class="form-control" placeholder="campaign Advertisement">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button type="cancel" class="btn btn-default btn-label-left" ng-click="toggleExpand()">
                                    <span><i class="fa fa-clock-o txt-danger"></i></span>
                                    Cancel
                                </button>
                            </div>

                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary btn-label-left" ng-click="toggleAdd()">
                                    <span><i class="fa fa-clock-o"></i></span>
                                    Submit
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="control-group">
                <label class="control-label">Showing 1 - 12 of 100 results</label>
                <div class="pull-right">
                    <select id="product-select">
                        <option>Latest</option>
                        <option>Most Popular</option>
                        <option>Product name A - Z</option>
                        <option>Product name Z - A</option>
                        <option>Best Ratings</option>
                        <option>Lowest Price</option>
                        <option>Highest Price</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3" data-ng-repeat="campaign in campaigns">
            <div class="box box-pricing">
                <div class="thumbnail">

                    <img ng-src="{{campaign.thumbnail || '/modules/core/img/campaign.png'}}" alt="{{campaign.name}}">

                    <div class="caption">
                        <h5 class="text-center">{{campaign.name}}</h5>
                        <p>{{campaign.description}}</p>
                        <a href="#" ng-click="goDetail(campaign)" class="btn btn-primary">Detail</a>
                        <a href="#" ng-click="goDial(campaign)" class="btn btn-default">Instance</a>
                    </div>
                    <span ng-show="activeOperation=='editing'" class="glyphicon glyphicon-pencil edit-icon" aria-hidden="true"></span>
                    <span ng-click="removeCampaign(campaign)" ng-show="activeOperation=='removing'" class="glyphicon glyphicon-remove remove-icon" aria-hidden="true"></span>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box-content" im-pagination="pagination"></div>
    </div>


