<div>
    <div class="box ui-draggable ui-droppable">
        <div class="box-header">
            <div class="box-name">
                <i class="fa fa-usd"></i>
                <span>Instant Chat</span>
            </div>
            <div class="box-icons">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="expand-link">
                    <i class="fa fa-expand"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="no-move"></div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>
                <div class="panel-body">
                    <ul class="media-list">

                        <li class="media" ng-repeat="message in messages">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="{{message._fromUser.img}}"/>
                                    </a>

                                    <div class="media-body">
                                        {{message.content}}
                                        <br/>
                                        <small class="text-muted">{{message._fromUser.nickName}} | {{message.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                        </small>
                                        <hr/>
                                    </div>
                                </div>

                            </div>
                        </li>


                        <!--<li class="media">-->

                        <!--<div class="media-body">-->

                        <!--<div class="media">-->
                        <!--<a class="pull-left" href="#">-->
                        <!--<img class="media-object img-circle " src="assets/images/user.gif"/>-->
                        <!--</a>-->

                        <!--<div class="media-body">-->
                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->

                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula-->
                        <!--enim.-->
                        <!--Duis vel condimentum massa.-->
                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->
                        <!--<br/>-->
                        <!--<small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>-->
                        <!--<hr/>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--</li>-->

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" ng-model="textContent" class="form-control" placeholder="Enter Message"/>
                                    <span class="input-group-btn">
                                        <button ng-click="send()" class="btn btn-info" type="button">SEND</button>
                                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body">
                    <ul class="media-list">

                        <li class="media">

                            <div class="media-body">

                                <div class="media" data-ng-repeat="follower in followers"
                                     ng-click="chat(follower.imId)">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="{{follower.img}}"/>
                                    </a>

                                    <div class="media-body">
                                        <h5> {{follower.nickName}} </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
