    <div class="box">

        <div class="col-md-8">
            <div class="col-xs-2"> <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left">
                    <li ng-class="currentTab==='profileTab'?'active':''"><a href="#" ng-click="switchProfile()" data-toggle="tab">Profile</a></li>
                    <li ng-class="currentTab==='ticketTab'?'active':''"><a href="#" ng-click="switchTicket()" data-toggle="tab">Ticket</a></li>
                    <li ng-class="currentTab==='messagesTab'?'active':''"><a href="#" ng-click="switchMessage()" data-toggle="tab">Message History</a></li>
                    <li ng-class="currentTab==='settingTab'?'active':''"><a href="#" ng-click="switchSetting()" data-toggle="tab">Settings</a></li>
                </ul>
            </div>

            <div class="col-xs-10">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div ng-class="currentTab==='ticketTab'?'tab-pane active':'tab-pane'">

                        <div class="box">
                            <div class="box-header">
                                <div class="box-name">
                                    <i class="fa fa-table"></i>
                                    <span>Ticket history</span>

                                </div>
                                <div class="box-icons">
                                    <button type="button"
                                            ng-class="(activeOperation=='adding')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                            ng-click="toggleAdd()"><i class="fa fa-plus"></i></button>

                                    <a class="expand-link">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                                <div class="no-move"></div>
                            </div>

                            <div class="box-content" ng-show="activeOperation=='adding'">
                                <h4 class="page-header">Ticket form</h4>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Subject</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="newticket.subject" placeholder="First name" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip for name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Type</label>
                                        <div class="col-sm-4">
                                            <select ng-model="newticket.type" ng-options="type.name for type in types"></select>
                                        </div>
                                        <label class="col-sm-2 control-label">Priority</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" ng-model="newticket.subject" placeholder="First name" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip for name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Selected Words</h3>
                                            </div>
                                            <div class="panel-body">
                                                <li class="media" ng-repeat="selectMessage in selectedMessages">
                                                    <div class="media-body">

                                                        <div class="media">
                                                            <a class="pull-left" href="#">
                                                                <img class="media-object img-circle" style="max-height:40px;" src="{{selectMessage._fromUser.img}}"/>
                                                            </a>

                                                            <div class="media-body">
                                                                {{selectMessage.content}}
                                                                <br/>
                                                                <small class="text-muted">{{selectMessage._fromUser.nickName}} | {{selectMessage.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                                                </small>
                                                                <hr/>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </li>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-styles">Content</label>
                                        <div class="col-sm-10">
                                            <textarea data-ng-model="newticket.content" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" ng-click="createTicket()" class="btn btn-default btn-label-left">Create Ticket</button>
                                        <button type="button" class="btn btn-default btn-label-left"> Clear </button>
                                    </div>
                                </form>
                            </div>

                            <div class="box-content">
                                <p>All related tickets</p>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th>Subject</th>
                                        <th>Requester</th>
                                        <th>Requested</th>
                                        <th>Type</th>
                                        <th>Priority</th>
                                        <th>Group</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="ticket in tickets">
                                        <td><input type="checkbox"></td>
                                        <td>{{ticket.subject}}</td>
                                        <td>{{ticket.requester.username}}</td>
                                        <td>{{ticket.requestedTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{ticket.type}}</td>
                                        <td>{{ticket.priority}}</td>
                                        <td>{{ticket.groupId}}</td>
                                        <td>{{ticket.status}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="box-content" im-pagination="pagination"></div>
                            </div>
                        </div>

                    </div>
                    <div ng-class="currentTab==='profileTab'?'tab-pane active':'tab-pane'" id="profile">
                        <div class="panel panel-primary">
                            <div class="thumbnail">
                                <img src="{{follower.img}}" alt="{{follower.nickName}}" style="width: 255px; height: 170px;">
                                <div class="caption">
                                    <h5 class="text-center">{{follower.nickName}}</h5><i ng-class="(follower.sex==='2')?'fa fa-female':'fa fa-male'"></i>
                                    <p>city:{{follower.city}} - province:{{follower.province}} - country:{{follower.country}}</p>

                                </div>
                            </div>
                            <div class="panel-body">
                            </div>

                        </div>

                    </div>
                    <div ng-class="currentTab==='messageTab'?'tab-pane active':'tab-pane'" >
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                RECENT CHAT HISTORY
                                <label class="control-label">Showing 1 - 12 of 100 results</label>
                                <div class="pull-right">
                                    <select id="product-select">
                                        <option>Latest</option>
                                        <option>Most Popular</option>
                                        <option>Product name A - Z</option>
                                        <option>Product name Z - A</option>
                                        <option>Best Ratings</option>
                                        <option>Lowest Price</option>
                                        <option>Highest Price</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                    <div id="search">
                                        <input type="text" placeholder="search">
                                        <i class="fa fa-search"></i>
                                    </div>
                            </div>

                            <div class="panel-body">

                                <ul class="media-list">
                                    <li class="media" ng-repeat="message in messages">

                                        <div class="media-body">

                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="{{message._fromUser.img}}"/>
                                                </a>

                                                <div class="media-body">
                                                    {{message.content}}
                                                    <br/>
                                                    <small class="text-muted">{{message._fromUser.nickName}} | {{message.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                                    </small>
                                                    <hr/>
                                                </div>

                                            </div>

                                        </div>
                                    </li>
                                </ul>
                                <div class="box-content" im-pagination="pagination"></div>
                            </div>

                        </div>

                    </div>
                    <div ng-class="currentTab==='settingTab'?'tab-pane active':'tab-pane'" >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="chatbox" class="box">
                <div class="box-header">
                    <div class="box-name ui-draggable-handle">
                        <i class="fa fa-table"></i>
                        <span>Instant Chat</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link" ng-click="toggleExpand()">
                            <i class="fa fa-expand"></i>
                        </a>

                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">
                    <div class="panel panel-info chat-widget-main">
                        <div class="panel-body">
                            <div ng-repeat="message in messages" ng-click="selectMessage(message)">
                                <div ng-class="message._fromUser?'chat-widget-left':'chat-widget-right'">
                                    {{message.content}}
                                </div>
                                <div ng-class="message._fromUser?'chat-widget-name-left':'chat-widget-name-right'">
                                    <b>{{message._fromUser.nickName}} </b> | {{message.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                                <hr />
                            </div>

                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" ng-model="textContent" class="form-control" placeholder="Enter Message"/>
                                    <span class="input-group-btn">
                                        <button ng-click="send()" class="btn btn-info" type="button">SEND</button>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="panel-heading">-->
                <!--<div class="box-name">-->
                    <!--<span> Instant Chat</span>-->
                <!--</div>-->
                <!--<div class="box-icons">-->
                    <!--<a class="expand-link">-->
                        <!--<i class="fa fa-expand"></i>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="no-move"></div>-->
            <!--</div>-->

        </div>
    </div>


