<div id="sidebar-left" class="col-xs-1 col-sm-1">
<ul class="nav main-menu">
    <li>
        <a ui-sref="dashboard.home">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
    </li>
    <li>
        <a ui-sref="dashboard.follower">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
    </li>
    <li class="dropdown">
        <a ui-sref="dashboard.category">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        </a>
    </li>
    <li class="dropdown">
        <a ui-sref="dashboard.ticket">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
        </a>
    </li>
    <li class="dropdown">
        <a ui-sref="dashboard.campaign">
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
        </a>
    </li>
</ul>
</div>

<!--Start Content-->
<div class="col-xs-11 col-sm-11" ng-show="activeTab==null" ui-view="content">

</div>

<div class="col-xs-11 col-sm-11" ng-show="activeTab==tab.id" ng-repeat="tab in tabs" ui-view="{{tab.id}}">

</div>

<!--End Content-->
