<div id="dashboard_links" class="col-xs-12 col-sm-2 pull-right">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/dashboard" class="tab-link" id="overview">Overview</a></li>
        <li><a href="/followers" class="tab-link" id="clients">Client</a></li>
        <li><a href="/faq" class="tab-link" id="graph">Faq</a></li>
        <li><a href="/instance" class="tab-link" id="servers">Instance</a></li>

    </ul>
</div>
