<!--Start Breadcrumb-->
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Dashboard</a></li>
        </ol>
        <div id="social" class="pull-right">
        </div>
    </div>
</div>
<!--End Breadcrumb-->
