                <div class="col-xs-3 col-sm-3">
                <ul id="messages-menu" class="nav msg-menu">
                    <li>
                        <a href="index.html" class="" id="msg-inbox">
                            <i class="fa fa-inbox"></i>
                            <span class="hidden-xs">Your unsolved tickets (3)</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="" id="msg-starred">
                            <i class="fa fa-star"></i>
                            <span class="hidden-xs">Unassigned tickets</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="" id="msg-important">
                            <i class="fa fa-bookmark"></i>
                            <span class="hidden-xs">All unsolved tickets</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="" id="msg-sent">
                            <i class="fa fa-reply"></i>
                            <span class="hidden-xs">Recently updated tickets</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="" id="msg-draft">
                            <i class="fa fa-pencil"></i>
                            <span class="hidden-xs">New tickets in your groups (2)</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="" id="msg-trash">
                            <i class="fa fa-trash-o"></i>
                            <span class="hidden-xs">Pending tickets</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="" id="msg-trash">
                            <i class="fa fa-trash-o"></i>
                            <span class="hidden-xs">Recently solved tickets</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="" id="msg-trash">
                            <i class="fa fa-trash-o"></i>
                            <span class="hidden-xs">Unsolved tickets in your groups</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html" class="" id="msg-trash">
                            <i class="fa fa-trash-o"></i>
                            <span class="hidden-xs">Suspended tickets</span>
                        </a>
                    </li>
                </ul>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <div class="box">
                        <div class="box-content">
                            <h1>All unsolved tickets</h1>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Subject</th>
                                    <th>Requester</th>
                                    <th>Requested</th>
                                    <th>Type</th>
                                    <th>Priority</th>
                                    <th>Group</th>
                                </tr>
                                </thead>


                                <tbody>
                                <tr ng-repeat="ticket in tickets">
                                    <td><input type="checkbox"></td>
                                    <td>{{ticket.subject}}</td>
                                    <td>{{ticket.requester.username}}</td>
                                    <td>{{ticket.requestedTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{ticket.type}}</td>
                                    <td>{{ticket.priority}}</td>
                                    <td>{{ticket.groupId}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

