    <div class="row" >
        <div class="col-xs-12">
            <div class="box">
                <div class="box-content">
                    <div class="col-xs-8 col-sm-4">

                        <div id="search">
                            <input type="text" placeholder="search">
                            <i class="fa fa-search"></i>
                        </div>

                    </div>
                    <div class="col-xs-4 col-sm-8 text-right">
                        <button type="button"
                                ng-class="(activeOperation=='removing')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleRemove()"><i
                                ng-class="(activeOperation=='removing')?'fa fa-save':'fa fa-trash'"></i></button>
                        <button type="button"
                                ng-class="(activeOperation=='editing')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleEdit()"><i
                                ng-class="(activeOperation=='editing')?'fa fa-save':'fa fa-edit'"></i></button>
                        <button type="button"
                                ng-class="(activeOperation=='adding')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleAdd()"><i
                                ng-class="(activeOperation=='adding')?'fa fa-save':'fa fa-plus'"></i></button>
                        <button type="button"
                                ng-class="(activeOperation=='loading')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="sync()"><i
                                ng-class="(activeOperation=='loading')?'fa fa-spinner fa-spin':'fa fa-cloud-download'"></i>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="box-content" ng-show="activeOperation=='adding'">
                    <h4 class="page-header">Create new follower</h4>
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-4">
                                <input type="text" ng-model="new_ID" class="form-control" placeholder="follower's ID" data-toggle="tooltip" data-placement="top" title="" data-original-title="Hello world!">
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked=""> No exist
                                        <i class="fa fa-square-o small"></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">nickname</label>
                            <div class="col-sm-4">
                                <input type="text" ng-model="new_nickname" class="form-control" placeholder="nickname" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip for name">
                            </div>
                            <label class="col-sm-2 control-label">sex</label>
                            <div class="col-sm-4">
                                <div class="radio-inline">
                                    <label>
                                        <input ng-model="new_sex" type="radio" name="radio" checked="" ng-value="1"> Male
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" ng-model="new_sex" name="radio" checked="" ng-value="2"> Female
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" ng-model="new_sex" name="radio" checked="" ng-value="0"> Unknown
                                        <i class="fa fa-circle-o small"></i>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group has-warning has-feedback">
                            <label class="col-sm-2 control-label">Residence</label>
                            <div class="col-sm-2">
                                <input type="text" ng-model="new_city" class="form-control" placeholder="City" data-original-title="" title="">
                                <span class="fa fa-key txt-warning form-control-feedback"></span>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" ng-model="new_province" class="form-control" placeholder="Province" data-original-title="" title="">
                                <span class="fa fa-frown-o txt-danger form-control-feedback"></span>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" ng-model="new_country" class="form-control" placeholder="Country" data-original-title="" title="">
                                <span class="fa fa-frown-o txt-danger form-control-feedback"></span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Remark</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="new_remark" rows="5" id="wysiwig_simple" data-original-title="" title=""></textarea>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="control-group">
                <label class="control-label">Showing 1 - 12 of 100 results</label>
                <div class="pull-right">
                    <select id="product-select">
                        <option>Latest</option>
                        <option>Most Popular</option>
                        <option>Product name A - Z</option>
                        <option>Product name Z - A</option>
                        <option>Best Ratings</option>
                        <option>Lowest Price</option>
                        <option>Highest Price</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3" data-ng-repeat="follower in followers">
            <div class="box box-pricing">
                <div class="thumbnail">

                    <img ng-src="{{follower.img || 'modules/core/img/avatar.jpg'}}" alt="{{follower.name}}">

                    <i ng-class="(follower.sex==='2')?'fa fa-female female-icon':'fa fa-male male-icon'"></i>

                    <div class="caption">
                        <h5 class="text-center">{{follower.name}}</h5>
                        {{follower.city+' '+follower.province+' '+follower.country}}
                        <p>{{follower.remark}}</p>
                        <a href="#" ng-click="goDetail(follower)" class="btn btn-primary">Detail</a>
                        <a href="#" ng-click="goDial(follower)" class="btn btn-default">Dial</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="box-content" im-pagination="pagination"></div>
    </div>


