    <div class="row" >
        <div class="col-xs-12">
            <div class="box">
                <div class="box-content">
                    <div class="col-xs-8 col-sm-4">

                        <div id="search">
                            <input type="text" placeholder="search">
                            <i class="fa fa-search"></i>
                        </div>

                    </div>
                    <div class="col-xs-4 col-sm-8 text-right">
                        <button type="button"
                                ng-class="(activeOperation=='removing')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleRemove()"><i
                                ng-class="(activeOperation=='removing')?'fa fa-save':'fa fa-trash'"></i></button>

                        <button type="button"
                                ng-class="(activeOperation=='editing')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleEdit()"><i
                                ng-class="(activeOperation=='editing')?'fa fa-save':'fa fa-edit'"></i></button>
                        <button type="button"
                                ng-class="(activeOperation=='adding')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="toggleAdd()"><i
                                ng-class="(activeOperation=='adding')?'fa fa-save':'fa fa-plus'"></i></button>
                        <button type="button"
                                ng-class="(activeOperation=='loading')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                                ng-click="sync()"><i
                                ng-class="(activeOperation=='loading')?'fa fa-spinner fa-spin':'fa fa-cloud-download'"></i>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>

    <div ad-form></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="control-group">
                <label class="control-label">Showing 1 - 12 of 100 results</label>
                <div class="pull-right">
                    <select id="product-select">
                        <option>Latest</option>
                        <option>Most Popular</option>
                        <option>Product name A - Z</option>
                        <option>Product name Z - A</option>
                        <option>Best Ratings</option>
                        <option>Lowest Price</option>
                        <option>Highest Price</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3" data-ng-repeat="ad in ads">
            <div class="box box-pricing">
                <div class="box-header">
                    <div class="box-name">
                        <span>{{ad.catId}}<br/>{{ad.subject}}</span>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content no-padding">
                    <div class="row-fluid centered">
                        <div class="col-sm-12">更新时间:{{ad.updateTime}}</div>
                        <div class="col-sm-12">联系人:{{ad.contacter}}</div>
                        <div class="col-sm-12">联系电话:{{ad.phone}}</div>
                        <div class="col-sm-12">电子邮件:{{ad.email}}</div>
                        <div class="col-sm-12">其它电话:{{ad.otherPhone}}</div>
                        <div class="col-sm-12">地区:{{ad.area}}</div>
                        <div class="col-sm-12">位置:{{ad.position}}</div>
                        <div class="col-sm-12">范围:{{ad.zone}}</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row-fluid bg-default">
                        <div class="col-sm-6"><b>价格:{{ad.price}}</b></div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-danger btn-block">Content</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box-content" im-pagination="pagination"></div>
    </div>


