<table cellpadding="0" cellspacing="0" border="0" width="723" align="center" style="margin: 0 auto 40px auto;"
       class="tahomaFont">
    <tbody>
    <tr>
        <td><img src="http://www.51.ca/images/space.gif" border="0" width="450" height="1"></td>
        <td><img src="http://www.51.ca/images/space.gif" border="0" width="20" height="1"></td>
        <td style="background: #EEE"><img src="http://www.51.ca/images/space.gif" border="0" width="250" height="1">
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding-top: 8px;">

            <table cellpadding="4" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td class="req_field" style="white-space:nowrap">所在黄页：</td>
                    <td><select id="serviceid" name="serviceid" class="" style="width:148px" autocomplete="off">
                        <option value="-2">- 选择黄页分类 -</option>
                        <option value="-1"> 免费公益</option>
                        <option value="71">-- 结伴出游</option>
                        <option value="31">-- 寻人启事</option>
                        <option value="105">-- 征婚启事</option>
                        <option value="69">-- 回国带物</option>
                        <option value="116">-- 华人教会</option>
                        <option value="21">-- 其他服务</option>
                        <option value="-1"> 生活服务</option>
                        <option value="77">-- 窗帘缝纫 ★</option>
                        <option value="3">-- 家庭旅馆 ★</option>
                        <option value="12">-- 机票旅游 ★</option>
                        <option value="5" selected="selected">-- 美容美发 ★</option>
                        <option value="101">-- 宠物相关 ★</option>
                        <option value="65">-- 照相录像 ★</option>
                        <option value="141">-- 婚庆服务 ★</option>
                        <option value="85">-- 婚介交友 ★</option>
                        <option value="60">-- 外币兑汇</option>
                        <option value="119">-- 代办签证 ★</option>
                        <option value="125">-- 家政服务 ★</option>
                        <option value="145">-- 物业管理 ★</option>
                        <option value="140">-- 画廊画框 ★</option>
                        <option value="63">-- 风水算命 ★</option>
                        <option value="-1"> 搬运接送</option>
                        <option value="2">-- 接送服务 ★</option>
                        <option value="37">-- 搬运卸货 ★</option>
                        <option value="33">-- 搭顺风车</option>
                        <option value="-1"> 教育培训</option>
                        <option value="6">-- 少儿学习 ★</option>
                        <option value="121">-- 课余补习 ★</option>
                        <option value="114">-- 艺术教育 ★</option>
                        <option value="137">-- 美术绘画 ★</option>
                        <option value="115">-- 体育棋类 ★</option>
                        <option value="36">-- 成人培训 ★</option>
                        <option value="128">-- 学生寄宿 ★</option>
                        <option value="138">-- 儿童看护 ★</option>
                        <option value="-1"> 汽车相关</option>
                        <option value="27">-- 考牌练车 ★</option>
                        <option value="34">-- 汽车维修 ★</option>
                        <option value="26">-- 购车服务 ★</option>
                        <option value="96">-- 租车服务 ★</option>
                        <option value="97">-- 拖车废车 ★</option>
                        <option value="39">-- 汽车保险 ★</option>
                        <option value="133">-- 汽配美容 ★</option>
                        <option value="-1"> 房屋相关</option>
                        <option value="15">-- 贷款按揭 ★</option>
                        <option value="66">-- 验屋服务 ★</option>
                        <option value="41">-- 家居清洁 ★</option>
                        <option value="123">-- 通渠治漏 ★</option>
                        <option value="13">-- 园艺铲雪 ★</option>
                        <option value="122">-- 室内设计 ★</option>
                        <option value="62">-- 建筑装修 ★</option>
                        <option value="135">-- 油漆粉刷 ★</option>
                        <option value="131">-- 建筑设计 ★</option>
                        <option value="117">-- 土库补漏 ★</option>
                        <option value="113">-- 门窗玻璃 ★</option>
                        <option value="147">-- 枱柜石材 ★</option>
                        <option value="144">-- 玻璃装璜 ★</option>
                        <option value="107">-- 专业屋顶 ★</option>
                        <option value="136">-- 地板楼梯 ★</option>
                        <option value="143">-- 围栏露台 ★</option>
                        <option value="108">-- 冷暖空调 ★</option>
                        <option value="148">-- 保温隔热 ★</option>
                        <option value="142">-- 车 库 门 ★</option>
                        <option value="16">-- 维修安装 ★</option>
                        <option value="118">-- 家电维修 ★</option>
                        <option value="124">-- 电工电气 ★</option>
                        <option value="111">-- 水管水喉 ★</option>
                        <option value="59">-- 防盗报警 ★</option>
                        <option value="146">-- 消防工程 ★</option>
                        <option value="109">-- 捕虫杀虫 ★</option>
                        <option value="83">-- 紧急开锁 ★</option>
                        <option value="56">-- 行李寄存</option>
                        <option value="75">-- 车位出租</option>
                        <option value="112">-- 租度假屋</option>
                        <option value="132">-- 工具出租</option>
                        <option value="-1"> 财会法律</option>
                        <option value="9">-- 会计报税 ★</option>
                        <option value="98">-- ＥＩ申请 ★</option>
                        <option value="50">-- 投资理财 ★</option>
                        <option value="74">-- 各类保险 ★</option>
                        <option value="8">-- 法律公证 ★</option>
                        <option value="90">-- 索赔告票 ★</option>
                        <option value="24">-- 翻译服务 ★</option>
                        <option value="11">-- 留学移民 ★</option>
                        <option value="130">-- 私人调查 ★</option>
                        <option value="-1"> 医疗保健</option>
                        <option value="10">-- 中医诊所 ★</option>
                        <option value="38">-- 牙医诊所 ★</option>
                        <option value="106">-- 心理诊所 ★</option>
                        <option value="91">-- 家庭医生 ★</option>
                        <option value="126">-- 专科医生 ★</option>
                        <option value="100">-- 验光配镜 ★</option>
                        <option value="30">-- 武术健身 ★</option>
                        <option value="99">-- 瘦身减肥 ★</option>
                        <option value="104">-- 理疗保健 ★</option>
                        <option value="-1"> 网络电脑</option>
                        <option value="22">-- 上网电视 ★</option>
                        <option value="89">-- 电话手机 ★</option>
                        <option value="70">-- 电脑服务 ★</option>
                        <option value="58">-- 卫星电视 ★</option>
                        <option value="67">-- 网页设计 ★</option>
                        <option value="127">-- 平面设计 ★</option>
                        <option value="-1"> 生意服务</option>
                        <option value="18">-- 生意服务 ★</option>
                        <option value="79">-- 招租招商 ★</option>
                        <option value="80">-- 生意转让 ★</option>
                        <option value="78">-- 货运报关 ★</option>
                        <option value="76">-- 印刷复印 ★</option>
                        <option value="81">-- 商业招牌 ★</option>
                        <option value="110">-- 快递服务 ★</option>
                        <option value="129">-- 库存收购 ★</option>
                        <option value="139">-- 传单广告 ★</option>
                    </select> [ <span style="color: #900">注意：</span>带 ★ 标记为收费栏目 ]
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr size="1">
                    </td>
                </tr>
                <tr>
                    <td class="req_field" nowrap="">信息标题：</td>
                    <td nowrap="">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td><input type="text" id="subject" name="subject" class="" value="" size="21"
                                           style="width:223px" maxlength="30"></td>
                                <td>&nbsp;[ <span style="color: #900">注意：</span>不要超过 <b>40</b> 字符 ]</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="req_field" nowrap="">服务地区：</td>
                    <td nowrap="">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td><select id="cityid" name="cityid" class="" style="width:138px">
                                    <option value="1" data-map="-79.392486,43.723057,7" selected="selected"> 大多地区
                                    </option>
                                    <option value="10001" data-map="-79.397039,43.675355,4">-- 多市中心</option>
                                    <option value="10003" data-map="-79.336481,43.699666,4">-- 东约克</option>
                                    <option value="10005" data-map="-79.417922,43.752827,5">-- 北约克</option>
                                    <option value="10007" data-map="-79.552816,43.670556,5">-- 怡陶碧谷</option>
                                    <option value="10006" data-map="-79.258289,43.778902,4">-- 士嘉堡</option>
                                    <option value="10010" data-map="-79.313392,43.850869,4">-- 万锦</option>
                                    <option value="10008" data-map="-79.642160,43.585570,5">-- 密西沙加</option>
                                    <option value="10013" data-map="-79.521788,43.775697,5">-- 旺市</option>
                                    <option value="10009" data-map="-79.430388,43.884933,5">-- 列治文山</option>
                                    <option value="10011" data-map="-79.421022,43.817448,5">-- 康山</option>
                                    <option value="10012" data-map="-79.831816,43.632735,5">-- 宾顿</option>
                                    <option value="10014" data-map="-79.077186,43.844184,5">-- 皮克灵</option>
                                    <option value="10039" data-map="-79.021053,43.850746,4">-- 艾加科斯</option>
                                    <option value="10040" data-map="-78.942604,43.899253,4">-- 惠特比</option>
                                    <option value="10041" data-map="-78.859520,43.888738,4">-- 奥沙华</option>
                                    <option value="10030" data-map="-79.461498,44.051005,5">-- 新市</option>
                                    <option value="10031" data-map="-79.463209,43.994660,5">-- 奥罗拉</option>
                                    <option value="10033" data-map="-79.646405,43.466073,5">-- 奥克维尔</option>
                                    <option value="10034" data-map="-79.794337,43.356007,5">-- 伯灵顿</option>
                                    <option value="10035" data-map="-79.885030,43.510910,4">-- 弥敦</option>
                                    <option value="10042" data-map="-79.240705,43.967438,4">-- 史托维尔</option>
                                    <option value="10036" data-map="-79.392486,43.723057,5">-- 大多其他地区</option>
                                    <option value="2" data-map="-122.969912,49.247271,6"> 大温地区</option>
                                    <option value="10015" data-map="-123.111934,49.250494,5">-- Vancouver</option>
                                    <option value="10016" data-map="-122.969912,49.247271,5">-- Burnaby</option>
                                    <option value="10017" data-map="-123.125370,49.161386,5">-- Richmond</option>
                                    <option value="10018" data-map="-123.201140,49.351013,5">-- West Vancouver</option>
                                    <option value="10019" data-map="-123.071293,49.322680,5">-- North Vancouver</option>
                                    <option value="10020" data-map="-122.994991,49.099673,5">-- Delta</option>
                                    <option value="10021" data-map="-122.807217,49.127312,5">-- Surrey</option>
                                    <option value="10022" data-map="-122.767688,49.257015,5">-- Port Coquitlam</option>
                                    <option value="10023" data-map="-123.077209,49.264364,5">-- Coquitlam</option>
                                    <option value="10024" data-map="-122.882632,49.270688,5">-- Port Moody</option>
                                    <option value="10025" data-map="-122.801583,49.024468,5">-- White Rock</option>
                                    <option value="10026" data-map="-122.659285,49.096649,5">-- Langley</option>
                                    <option value="10027" data-map="-122.286630,49.059442,5">-- Abbotsford</option>
                                    <option value="10028" data-map="-122.574860,49.218480,5">-- Maple Ridge</option>
                                    <option value="10037" data-map="-123.111934,49.250494,5">-- 大温其他地区</option>
                                    <option value="10000" data-map="-106.346771,56.130366,14"> 其它地区</option>
                                    <option value="3" data-map="-75.723440,45.352088,5">-- 渥太华</option>
                                    <option value="5" data-map="-73.675627,45.512363,6">-- 蒙特利尔</option>
                                    <option value="4" data-map="-114.080796,51.039877,6">-- 卡加利</option>
                                    <option value="10029" data-map="-80.537828,43.477918,5">-- 滑铁卢</option>
                                    <option value="10032" data-map="-79.868700,43.257760,4">-- 哈密尔顿</option>
                                    <option value="6" data-map="-81.249659,42.976427,5">-- 伦敦</option>
                                    <option value="7" data-map="-82.997466,42.291192,5">-- 温沙</option>
                                    <option value="10045" data-map="-79.690332,44.389349,4">-- 巴里</option>
                                    <option value="10044" data-map="-123.365554,48.428610,4">-- 维多利亚</option>
                                    <option value="10038" data-map="-96.808720,62.394714,5">-- 加拿大其他地区</option>
                                    <option value="10043" data-map="-95.712891,37.090240,5">-- 美国</option>
                                </select></td>
                                <td class="rec_field" style="padding-left: 4px;">ZIP：</td>
                                <td><input type="text" id="pcode" name="pcode" class="" value="" size="3"
                                           style="width:50px" maxlength="7"> [ 格式：Z9Z9Z9 <a
                                        href="javascript:fucCheckMap(document.vbform)" class="drlink">查看地图</a> ]
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>

                    <td class="" nowrap="">具体位置：</td>
                    <td nowrap=""><input type="text" id="contactaddress" name="contactaddress" class="" value=""
                                         size="29" style="width:370px" maxlength="100"></td>
                </tr>
                <tr>
                    <td class="req_field" nowrap="">交易价格：</td>
                    <td nowrap="">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td><input type="text" id="price" name="price" class="" value="00" size="12"
                                           style="width:148px" maxlength="85"></td>
                                <td>&nbsp;[ <span style="color: #900">注意：</span><span
                                        style="color: #360"><b>0</b></span> 表示免费，<span
                                        style="color: #900"><b>00</b></span> 表示面议 ]
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td><img src="http://www.51.ca/images/space.gif" border="0" width="20" height="1"></td>
        <td style="background: #EEE; line-height: 1.5; padding: 10px 10px 0 10px;" valign="top">
            <div style="border: 2px solid #F90; padding: 10px; background: #FFC; line-height: 1.5; margin: 0 0 10px 0; text-align:left">
                此栏目为收费栏目，您可以先行发布信息，但只有定制广告并支付相关费用后，信息才会公开显示。
                <p><b>如有疑问，欢迎垂询本站广告部：</b></p>
                <li style="list-style:none;">联系电话：<b>416-768-5151</b></li>
                <li style="list-style:none;">电子邮箱：<a href="mailto:ads@51.ca"><b>ads@51.ca</b></a></li>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="4" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td colspan="2">
                        <hr size="1">
                    </td>
                </tr>
                <tr>
                    <td class="req_field" nowrap="">联 系 人：</td>
                    <td nowrap=""><input type="text" id="contactname" name="contactname" class="" value="" size="12"
                                         style="width:148px" maxlength="50"></td>
                </tr>
                <tr>
                    <td class="rec_field" nowrap="">联系电话：</td>
                    <td nowrap="">
                        <input type="text" id="contactphone" name="contactphone" class="" value="" size="12"
                               style="width:148px" maxlength="14"> <span class="">分机</span> <input type="text"
                                                                                                   name="contactphone_ext"
                                                                                                   class="" value=""
                                                                                                   size="5"
                                                                                                   maxlength="5"
                                                                                                   style="width:54px;">
                        [ <a href="http://www.51.ca/my/verifyphone.php?s=" target="_blank" class="blink"
                             title="所谓电话号码认证，就是通过电话认证程序将您的电话号码和您在加国无忧网站当前的用户身份 - lastsky - 关联起来，只有 - lastsky - 这个用户才可以使用这个电话在加国无忧网站发布信息。">电话号码认证</a>
                        ]
                    </td>

                </tr>
                <tr>
                    <td class="" nowrap="">备用电话：</td>
                    <td nowrap=""><input type="text" id="contactphone2" name="contactphone2" class="" value="" size="12"
                                         style="width:148px" maxlength="14"> <span class="">分机</span> <input type="text"
                                                                                                             name="contactphone2_ext"
                                                                                                             class=""
                                                                                                             value=""
                                                                                                             size="5"
                                                                                                             maxlength="5"
                                                                                                             style="width:54px;">
                    </td>
                </tr>
                <tr>
                    <td class="rec_field" nowrap="">电子邮件：</td>
                    <td nowrap="">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td><input type="text" id="contactemail" name="contactemail" class=""
                                           value="1822858@gmail.com" size="12" style="width:148px" maxlength="100"> [
                                    <span style="color: #900">注意：</span>如填写，邮件地址将公开显示 ]
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="req_field" nowrap="">服务语言：</td>
                    <td nowrap="">
                        <span style="width: 150px"><label for="checkbox_language_english"><input type="checkbox"
                                                                                                 id="checkbox_language_english"
                                                                                                 name="alanguage[english]"
                                                                                                 value="1">
                            英语</label> <label for="checkbox_language_mandarin"><input type="checkbox"
                                                                                      id="checkbox_language_mandarin"
                                                                                      name="alanguage[mandarin]"
                                                                                      value="1"> 国语</label> <label
                                for="checkbox_language_cantonese"><input type="checkbox"
                                                                         id="checkbox_language_cantonese"
                                                                         name="alanguage[cantonese]" value="1">
                            粤语</label></span> [ <span style="color: #900">注意：</span>至少选一种可提供服务的语言 ]
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
        <td><img src="http://www.51.ca/images/space.gif" border="0" width="20" height="1"></td>
        <td style="background: #EEE; line-height: 1.5" valign="top">
            <table cellpadding="10" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td style="background: #EEE; line-height: 1.5"><br>- <b>该部分为您的联络信息</b>
                        <br><br>
                        <span style="color: #900">小提示：</span>请至少提供一个联系方式，如联系电话或电子邮件，并从英语、国语和粤语中至少选择一个可提供的语言服务。如果填写了电子邮件地址，此邮箱将会公开显示。
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table cellpadding="4" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td colspan="2">
                        <hr size="1">
                    </td>
                </tr>
                <tr>
                    <td class="rec_field" valign="top" colspan="2">
                        <fieldset class="introFieldSet" id="introFieldSet">
                            <legend class="">详细介绍</legend>
                            <div class="ke-container ke-container-default" style="width: 433px;">
                                <div style="display:block;" class="ke-toolbar" unselectable="on"><span
                                        class="ke-outline" data-name="bold" title="粗体(Ctrl+B)" unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-bold"
                                        unselectable="on"></span></span><span class="ke-outline" data-name="underline"
                                                                              title="下划线(Ctrl+U)"
                                                                              unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-underline"
                                        unselectable="on"></span></span><span class="ke-outline"
                                                                              data-name="strikethrough" title="删除线"
                                                                              unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-strikethrough"
                                        unselectable="on"></span></span><span
                                        class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                          data-name="justifyleft"
                                                                                          title="左对齐" unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-justifyleft"
                                        unselectable="on"></span></span><span class="ke-outline"
                                                                              data-name="justifycenter" title="居中"
                                                                              unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-justifycenter"
                                        unselectable="on"></span></span><span
                                        class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                          data-name="link" title="超级链接"
                                                                                          unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-link"
                                        unselectable="on"></span></span><span class="ke-outline" data-name="unlink"
                                                                              title="取消超级链接" unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-unlink"
                                        unselectable="on"></span></span><span
                                        class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                          data-name="paste"
                                                                                          title="粘贴(Ctrl+V)"
                                                                                          unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-paste"
                                        unselectable="on"></span></span><span class="ke-outline" data-name="plainpaste"
                                                                              title="粘贴为无格式文本" unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-plainpaste"
                                        unselectable="on"></span></span><span class="ke-outline" data-name="wordpaste"
                                                                              title="从Word粘贴" unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-wordpaste"
                                        unselectable="on"></span></span><span
                                        class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                          data-name="insertorderedlist"
                                                                                          title="编号"
                                                                                          unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-insertorderedlist"
                                        unselectable="on"></span></span><span class="ke-outline"
                                                                              data-name="insertunorderedlist"
                                                                              title="项目符号" unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-insertunorderedlist"
                                        unselectable="on"></span></span><span
                                        class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                          data-name="outdent"
                                                                                          title="减少缩进"
                                                                                          unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-outdent"
                                        unselectable="on"></span></span><span class="ke-outline" data-name="indent"
                                                                              title="增加缩进" unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-indent"
                                        unselectable="on"></span></span><span
                                        class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                          data-name="fullscreen"
                                                                                          title="全屏显示"
                                                                                          unselectable="on"><span
                                        class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fullscreen"
                                        unselectable="on"></span></span>

                                    <div class="ke-hr"></div>
                                    <span class="ke-outline" data-name="source" title="HTML代码" unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-source"
                                            unselectable="on"></span></span><span
                                            class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                              data-name="51"
                                                                                              title="51.CA 格式整理工具"
                                                                                              unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-51"
                                            unselectable="on"></span></span><span class="ke-outline"
                                                                                  data-name="clearhtml" title="清理HTML代码"
                                                                                  unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-clearhtml"
                                            unselectable="on"></span></span><span class="ke-outline"
                                                                                  data-name="removeformat" title="删除格式"
                                                                                  unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-removeformat"
                                            unselectable="on"></span></span><span
                                            class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                              data-name="forecolor"
                                                                                              title="文字颜色"
                                                                                              unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-forecolor"
                                            unselectable="on"></span></span><span class="ke-outline"
                                                                                  data-name="hilitecolor" title="文字背景"
                                                                                  unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-hilitecolor"
                                            unselectable="on"></span></span><span
                                            class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                              data-name="fontname"
                                                                                              title="字体"
                                                                                              unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fontname"
                                            unselectable="on"></span></span><span class="ke-outline"
                                                                                  data-name="fontsize" title="文字大小"
                                                                                  unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fontsize"
                                            unselectable="on"></span></span><span
                                            class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                              data-name="image"
                                                                                              title="图片"
                                                                                              unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-image"
                                            unselectable="on"></span></span><span class="ke-outline" data-name="youtube"
                                                                                  title="插入 Youtube 视频"
                                                                                  unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-youtube"
                                            unselectable="on"></span></span><span
                                            class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                              data-name="map"
                                                                                              title="Google地图"
                                                                                              unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-map"
                                            unselectable="on"></span></span><span class="ke-outline" data-name="table"
                                                                                  title="表格" unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-table"
                                            unselectable="on"></span></span><span class="ke-outline" data-name="hr"
                                                                                  title="插入横线" unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-hr"
                                            unselectable="on"></span></span><span
                                            class="ke-inline-block ke-separator"></span><span class="ke-outline"
                                                                                              data-name="about"
                                                                                              title="关于"
                                                                                              unselectable="on"><span
                                            class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-about"
                                            unselectable="on"></span></span></div>
                                <div style="display: block; height: 328px;" class="ke-edit">
                                    <iframe class="ke-edit-iframe" hidefocus="true" frameborder="0" tabindex=""
                                            style="width: 100%; height: 328px;"></iframe>
                                    <textarea class="ke-edit-textarea" hidefocus="true" tabindex=""
                                              style="width: 100%; height: 328px; display: none;"></textarea></div>
                                <div class="ke-statusbar"><span class="ke-inline-block ke-statusbar-center-icon"
                                                                style="visibility: hidden;"></span><span
                                        class="ke-inline-block ke-statusbar-right-icon"
                                        style="visibility: hidden;"></span></div>
                            </div>
                            <textarea id="message" name="message"
                                      style="width: 433px; height: 390px; display: none;"></textarea>
                            <script charset="utf-8" src="./../scripts/kindeditor/kindeditor-min.js"></script>
                            <script charset="utf-8" src="./../scripts/kindeditor/lang/zh_CN.js"></script>
                            <script>
                                var editor, editoroptions = {
                                    langType: 'zh_CN',
                                    cssPath: './../scripts/kindeditor/css/custom.css',
                                    width: '433px',
                                    minWidth: '433px',
                                    resizeType: 0,
                                    allowPreviewEmoticons: false,
                                    allowImageUpload: 0,
                                    allowFlashUpload: 0,
                                    allowMediaUpload: 0,
                                    allowFileUpload: 0,
                                    urlType: 'absolute',
                                    pasteType: 2,
                                    themeType: 'default',
                                    items: [
                                        'bold', 'underline', 'strikethrough', '|', 'justifyleft', 'justifycenter', '|', 'link', 'unlink', '|', 'paste', 'plainpaste', 'wordpaste', '|', 'insertorderedlist', 'insertunorderedlist', '|', 'outdent', 'indent', '|', 'fullscreen', '/',
                                        'source', '|', '51', 'clearhtml', 'removeformat', '|', 'forecolor', 'hilitecolor', '|', 'fontname', 'fontsize', '|', 'image', 'youtube', '|', 'map', 'table', 'hr', '|', 'about'
                                    ],
                                    convertorAjax: './../scripts/kindeditor/php/convertor.php',
                                    uploadJson: './../scripts/kindeditor/php/upload.php',
                                    filePostName: 'NewFile',
                                    imageSizeLimit: '5MB',
                                    extraFileUploadParams: {
                                        'IsMemberUsage': 0,
                                        'sessid': '4dc4da7582ffcfa047448bba672a574e'
                                    },
                                    pagebreakHtml: '<p class="myCustom myPageBreak">#p#Page Title#e#</p>',
                                    autoSaveSpace: 'f853b60c8efc5f44b9d38951d6137b05',
                                    afterCreate: function () {
                                        if ('f853b60c8efc5f44b9d38951d6137b05' != '')
                                            this.loadPlugin('autosave');
                                    }
                                };

                                KindEditor.ready(function (K) {
                                    editor = K.create('#message', editoroptions);
                                });

                                var _myfun_insertImg2FckEditor = function (InstanceName, src) {
                                    var img = '<img src="' + src + '" />';
                                    editor.insertHtml(img);
                                };

                                var _myfun_insertImg2ItemContent = function (src) {
                                    var img = '<img src="' + src + '" />';
                                    editor.insertHtml(img);
                                };
                            </script>
                        </fieldset>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td><img src="http://www.51.ca/images/space.gif" border="0" width="20" height="1"></td>
        <td style="background: #EEE; line-height: 1.5" valign="top">
            <table cellpadding="10" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td style="background: #EEE; line-height: 1.5"><br><br>- <b>该部分为信息的详细描述</b>
                        <br><br>
                        <span style="color: #900">小技巧：</span>段落间加上空行会更清晰美观
                        <br><br>
                        <span style="color: #900">小提示：</span>如果是从 Word 文件中粘贴文字到详细介绍中，为确保不会出现乱字符，建议使用“从 MS Word 粘贴”工具
                        <img src="/images/paste_word.gif" title="从 MS Word 粘贴" align="absmiddle"> 或“粘贴为无格式文本”工具 <img
                                src="/images/paste_text.gif" title="粘贴为无格式文本" align="absmiddle">
                        <br><br>
                        <span style="color: #900">小提示：</span>如果有繁体字符，或格式显示混乱，可点击编辑器工具栏的 <img src="/images/51tool.gif"
                                                                                             title="51 格式整理工具"
                                                                                             align="absmiddle">
                        图标强力整理格式，确保信息显示无误。
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td valign="top">
            <table cellpadding="4" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td colspan="2">

                        <fieldset class="uploadFieldSet" id="uploadFieldSet">
                            <legend class="rec_field">相关图片</legend>

                            <div style="padding: 4px 0 2px 0; text-align: center">上传图片后，将鼠标移至缩略图上，点击“插入正文”可将图片插入上方编辑器
                            </div>

                            <div id="DemoArea" class="DemoArea">
                                <div id="AreaPics" class="AreaPics dropzone dz-clickable" title="把文件拖到这里，或点击立即上传">
                                    <div class="dz-default dz-message"><span><h3>加几张图片吧！把图片拖到这里，或点击立即上传</h3><div>最多
                                        <strong>12</strong> 张图片，单张图片大小不得超过 <strong>10M</strong><br>仅限格式为 GIF JPG JPEG
                                        JPE PNG 的文件
                                    </div></span></div>
                                </div>
                                <div id="AreaBox" class="AreaBox"></div>
                                <div id="preview-template" style="display: none;">
                                    <div class="sImgDivBox dz-preview dz-file-preview">
                                        <div class="sImgDiv">
                                            <div class="dz-image"><img data-dz-thumbnail=""></div>
                                            <div class="dz-details">
                                                <div class="dz-filename"><span data-dz-name=""></span></div>
                                                <div class="dz-size" data-dz-size=""></div>
                                            </div>
                                        </div>
                                        <div class="dz-progress"><span class="dz-upload"
                                                                       data-dz-uploadprogress=""></span></div>
                                        <div class="dz-success-mark">
                                            <svg width="46px" height="46px" viewBox="0 0 64 64" version="1.1"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                                <title>Check</title>
                                                <defs></defs>
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none"
                                                   fill-rule="evenodd" sketch:type="MSPage">
                                                    <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                                                          id="Oval-2" stroke-opacity="0.198794158" stroke="#747474"
                                                          fill-opacity="0.816519475" fill="#FFFFFF"
                                                          sketch:type="MSShapeGroup"></path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="dz-error-mark">
                                            <svg width="46px" height="46px" viewBox="0 0 64 64" version="1.1"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                                <title>Error</title>
                                                <defs></defs>
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none"
                                                   fill-rule="evenodd" sketch:type="MSPage">
                                                    <g id="Check-+-Oval-2" sketch:type="MSLayerGroup" stroke="#747474"
                                                       stroke-opacity="0.198794158" fill="#FFFFFF"
                                                       fill-opacity="0.816519475">
                                                        <path d="M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z"
                                                              id="Oval-2" sketch:type="MSShapeGroup"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <!--<div class="dz-error-message"><span data-dz-errormessage></span></div>-->
                                    </div>
                                </div>
                            </div>

                            <div id="UploadDesc" class="UploadDesc">
                                <div id="UploadAlert" style="display: none;" class="ajaxLoadingS">
                                    正在获取已经上传的相关附件信息，请耐心等候……
                                </div>
                                <div id="NormalMsg" style="display: none;">[ 点击“浏览”选择希望上传的文件，注意：仅限上传体积小于 10M 的图片文件 ]
                                </div>
                                <div id="Html5Msg" style="display: block;">[ 此为新版上传方式，如在使用中出现问题，<a
                                        href="javascript:void(0)"
                                        onclick="javascript: _51upload_changeUploadType('normal')" class="blink">可切换至旧版上传方式</a>
                                    ]
                                </div>
                            </div>

                            <div id="UploadArea" style="display: none;">

                                <div id="UploadBox">
                                    <div id="UploadInputBox">
                                        <input type="file" size="58" name="attachment0" id="attachment0" value=""
                                               autocomplete="off">
                                    </div>

                                    <div id="UploadBtnBox">
                                        <div id="switch2Html5" style="float: left; padding-top: 3px"><a
                                                href="javascript:void(0)"
                                                onclick="javascript: _51upload_changeUploadType('html5')" class="blink">切换至新版上传方式
                                            »</a></div>
                                        <div style="float: right"><input type="button" name="upBtn" id="upBtn"
                                                                         value="上传选中文件至服务器" disabled="disabled"></div>
                                    </div>
                                </div>

                            </div>

                            <input type="hidden" name="posthash" id="posthash" value="9b17960ed756ac92562cd7087a18c224">
                            <input type="hidden" name="poststarttime" id="poststarttime" value="1433214177">
                            <input type="hidden" name="MAX_FILE_SIZE" value="10485760">
                            <input type="hidden" name="newpostattachs" id="newpostattachs" value="0">
                            <input type="hidden" name="ajaxdone" id="ajaxdone" value="0">
                            <input type="hidden" name="mainpicurl" id="mainpicurl" value="">
                            <input type="hidden" name="uploading" id="uploading" value="0">

                        </fieldset>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td><img src="http://www.51.ca/images/space.gif" border="0" width="20" height="1"></td>
        <td bgcolor="#EEEEEE" valign="top">
            <table cellpadding="10" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td bgcolor="#EEEEEE">
                        <br>- <b>相关图片</b>

                        <div style="margin-top: 15px; line-height: 1.5">
                            <p>推荐使用新版上传方式，如在使用中出现问题，可切换为旧版方式。</p>

                            <p>新版上传方式可使用拖拽上传、可一次选择多图同时上传，并可查看上传进度。</p>
                            <ul style="padding-left: 15px; margin: 10px 0; ">
                                <li>每条信息可上传 <b>12</b> 张图片</li>
                                <li>格式限定为：<b>GIF JPG JPEG JPE PNG</b></li>
                                <li>单张图片体积不能大于 <b>10M</b></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table cellpadding="4" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td colspan="2">
                        <hr size="1">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <script type="text/javascript" language="javascript">
                            var _51ads_Current_ads = {'sticky': 0, 'special': 0}
                            var _51ads_Gift_Settings = {"special": ["sign"]};

                            var _51ads_Unit_Price = {
                                "size": {"1": "1.00", "2": "5.00", "3": "10.00", "4": "15.00"},
                                "highlight": {"1": "2.00", "2": "2.00", "3": "3.00", "4": "5.00"},
                                "sign": "1.00"
                            };

                        </script>
                        <a name="paperads"></a>
                        <fieldset id="paperadsFieldSet" class="paperadsFieldSet">
                            <legend class="">《51周报》服务分类广告</legend>

                            <div style="" class="freepaperaddesc">
                                <span style=""><strong>此为免费服务。</strong>但因报纸容量的局限，尽管我们会尽力，仍无法确保每条信息均能发表。如要确保刊登，请在下一步选择收费广告。</span><span
                                    style="display: none;"><b>提示：</b>如在下一步选购了列表页置顶显示广告，可免费投放在《51周报》</span>
                            </div>

                            <div class="freepaperaddesc issueinfo"><b>提示：</b>第 <strong>202</strong> 期《51周报》将于 <strong>2015年6月5日
                                周五</strong> 出版。如要更新内容，请在服务分类栏目的截稿时间 <strong>2015年6月3日 周三 09:00</strong> 前提交
                            </div>

                            <div id="paperadagreebox" class="paperadagree" style=""><label for="paperadagree"><input
                                    type="checkbox" id="paperadagree" name="paperadagree" value="1"
                                    checked="checked"><b>将此信息随机抽取免费发布在《51周报》的服务分类广告栏</b></label></div>


                            <script type="text/javascript" language="javascript">
                                var _51ads_Unit_Settings = {
                                    line_chars: 28,
                                    unit_lines: 3,
                                    contentEnChars: 80,
                                    contentCnChars: 40
                                };
                            </script>

                            <div id="paper_custom_form" class="paper_custom_content" style="">
                                <div>
                                    <span class="custom_content_tip"><em>当前长度</em>：<b id="curTitleLen">0</b> 个字符<span
                                            id="curTitleLenErr" style="display:none;"></span></span>
                                    <i>标题</i>：<span>最多 <strong id="maxEnTitleLen">20</strong> 个字符，<strong
                                        id="maxCnTitleLen">10</strong> 个中文字</span>
                                </div>
                                <div><input type="text" name="papertitle" size="74" maxlength="20" id="papertitle"
                                            class="papertitle" value=""></div>

                                <div style="margin-top: 8px;">
                                    <span class="custom_content_tip"><em>当前长度</em>：<b id="curContentLen">0</b> 个字符<span
                                            id="curContentLenErr" style="display:none;"></span></span>
                                    <i>内容</i>：<span>最多 <strong id="maxEnContentLen">80</strong> 个字符，<strong
                                        id="maxCnContentLen">40</strong> 个中文字</span>
                                </div>
                                <div><textarea name="papercontent" rows="2" cols="72" id="papercontent"
                                               class="item papercontent Size1"></textarea></div>

                                <div style="margin-top: 8px;">
                                    <span class="custom_content_tip"><b>提示</b>：电话号码将自动添加</span>
                                    <i>电话</i>：<strong id="paperad_form_phone"></strong>
                                </div>
                            </div>

                        </fieldset>
                        <input type="hidden" name="infochannel" value="item">
                        <input type="hidden" name="paperad" value="">
                        <input type="hidden" name="papersize" value="1">
                        <input type="hidden" name="paperhighlight" value="">
                        <input type="hidden" name="papersign" value="">


                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td><img src="http://www.51.ca/images/space.gif" border="0" width="20" height="1"></td>
        <td style="background: #EEE; line-height: 1.5" valign="top">
            <table cellpadding="10" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td style="background: #EEE; line-height: 1.5"><br><br>- <b>在《51周报》免费刊登</b><br><br>《<a
                            href="http://info.51.ca/news/canada/2011/07/17/230495.shtml" target="_blank" class="blink">51周报</a>》是加国无忧旗下的印刷刊物，逢周五出版，发行范围覆盖大多伦多地区。
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td valign="top">
            <table cellpadding="4" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td colspan="2">
                        <hr size="1">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="line-height: 1.5">
                        一旦点击以下按钮提交表单，即表明您已认真阅读并理解本站的《<a href="http://www.51.ca/treaty.php" target="_blank">用户条约</a>》，并愿意遵守相关规定，同时承诺以上张贴的所有信息（包含文字及图片）符合加拿大相关法律规定，并愿为此承担全部责任。
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; padding-top: 15px; padding-bottom: 20px;" nowrap="">
                        <input type="hidden" name="action" id="dowhat" value="postitem">
                        <input type="hidden" name="changeserviceid" id="changeserviceid" value="0">
                        <input type="submit" name="submit" value="发布黄页信息 »" class="btn postbtn" accesskey="s"
                               id="subform">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td><img src="http://www.51.ca/images/space.gif" border="0" width="20" height="1"></td>
        <td style="background: #EEE; line-height: 1.5; padding-bottom: 50px;" valign="top">
            <table cellpadding="10" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td style="background: #EEE; line-height: 1.5;"><br>如您需要进一步帮助或有好的建议，请发信至信箱：<a
                            href="mailto:info@51.ca"><b>info@51.ca</b></a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background: #999" colspan="3"><img src="http://www.51.ca/images/space.gif" border="0" width="450"
                                                      height="2"></td>
    </tr>
    </tbody>
</table>
