<div class="row" ng-controller="ConfigurationController">
    <div class="col-xs-2 col-sm-2">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Wechat</h3>
            </div>
            <div class="panel-body">
                Follower Group
            </div>
            <div class="panel-body">
                Menu
            </div>
            <div class="panel-body">
                FAQ
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">UI</h3>
            </div>
            <div class="panel-body">
                Ticket
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Permission</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                
            </div>
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">System Setting</div>
        </div>
    </div>

    <!--Start Content-->
    <div id="content" class="col-xs-12 col-sm-10 full-content" ui-view="content">

    </div>
    <!--End Content-->
</div>
