<tabset>
    <tab heading="Static title">Static content</tab>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
        {{tab.content}}
    </tab>
</tabset>


<section class="row" data-ng-controller="SettingsController">
    <h3 class="col-md-12 text-center">Groups:</h3>

    <div class="col-md-12 text-center">
        <button type="button"
                ng-class="(activeOperation=='loading')?'btn btn-success btn-app-sm':'btn btn-default btn-app-sm'"
                ng-click="sync()"><i
                ng-class="(activeOperation=='loading')?'fa fa-spinner fa-spin':'fa fa-cloud-download'"></i>
        </button>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Time</th>
            <th>Desc</th>
            <th>Remark</th>

        </tr>
        </thead>
        <tbody ng-repeat="schedule in schedules">
        <tr>
            <td>1</td>
            <td>{{schedule.name}}</td>
            <td>{{schedule.type}}</td>
            <td>{{schedule.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{schedule.desc}}</td>
            <td>{{schedule.remark}}</td>
        </tr>

        </tbody>
    </table>

</section>
