<div class="text-right">
    <div class="dataTables_paginate paging_bootstrap">
        <ul class="pagination">
            <li ng-class="{disabled: !prev}"><a ng-href="{{path&&prev?path+prev:''}}" ng-click="paginationTo(prev)">← Previous</a></li>
            <li ng-class="{active: n==pageIndex, disabled: n=='…'}" ng-repeat="n in showPages track by $index">
                <a ng-href="{{path&&n!='…'&&n!=pageIndex?path+n:''}}" title="{{n!='…'?'第'+n+'页':''}}" ng-click="paginationTo(n)">{{n}}</a>
            </li>
            <li ng-class="{disabled: !next}"><a ng-href="{{path&&next?path+next:''}}" ng-click="paginationTo(next)">Next → </a></li>
            <li class="pure-hidden-phone" ng-class="{active: s==pageSize}" ng-repeat="s in perPages"><a ng-href="{{path&&s!=pageSize?path+'1&s='+s:''}}" title="每页{{s}}" ng-click="paginationTo(1, s)">{{s}}</a></li>

        </ul>
    </div>
</div>
<div class="clearfix"></div>
